.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.btn {
    margin: 0px 5px;
}

.tableActions {
    width: 125px;
}

.todoForm {
    padding-bottom: 80px;
}

.navbar {
    margin-top: 10px;
}

.form-text {
    margin-left: 15px;
}